.ListView {
  background: #005b82;
  border-top-right-radius: var(--bg-border-radius);
  border-bottom-right-radius: var(--bg-border-radius);
  margin-right: 10px;
  text-align: right;
  padding-right:20px;
  color: white;
}

.ListView h3 {
  border-bottom: 2px solid rgba(240,240,240,0.8);
}

.ListViewItem button {
  color: #fff;
  display: inline-block;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background: transparent;
  border: none;
}

.ListViewItem.Selected button {
  background: rgba(255, 255, 255, 0.1);
}

.ListViewItem button:focus {
  outline-color: rgba(255, 255, 255, 0.3);
}

.ListViewItem button:active {
  background: rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0.2);
}
