.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ListView {
  background: #005b82;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 10px;
  text-align: right;
  padding-right:20px;
  color: white;
}
  .ListView div {
    cursor: pointer;
  }

.DetailView {
  background: rgba(240,240,240,0.9);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: left;
  padding-left: 10px;
}

.ListView h3 {
  border-bottom: 2px solid rgba(240,240,240,0.8);
}
.DetailView h3 {
  border-bottom: 2px solid #005b82;
}